 body {
  background-color: white;
  padding: 20px;
  font-family: Arial;
  text-align: center;
}

.navbar {
  padding: 10px;
  border-radius: 15px;
  font-family: arial;
  font-size: 15px;
}

img {
  border-radius: 15px;
  width: stretch;
  max-height: 800px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  padding: 10px 0;
  font-weight: 800;
  margin: 0;
  font-family: 'arial';
}

.bannertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  padding: 10px 0;
  font-weight: 500;
  margin-top: 60px;
  font-family: 'arial';
}

label{ 
  color: black;
}

.btn {
  margin: 10px;
}

.table {
  background-color: #D3D3D3;
  border-radius: 15px;
  margin: 10px;
}

h2 {
  color: black;
  font-style: arial;
  font-size: 3em;
}